@{
    ViewData["Title"] = "О нас";
    Layout = "_Layout";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<h2 style="color:orange">@ViewData["Title"]</h2>
<div>
    <p>История компании «Автоградшина» начинается с 2010 года. С момента открытия, 
    которые стали основополагающими и неизменными ценностями компании.
    Это – продажа продукции, достойного качества и социальная ориентированность бизнеса.</p>
    <div class="title text-center marginbottom-20">
        <h3>Шины и диски с гарантией</h3>
        <hr>
    </div>
    <p>Широкий ассортимент автошин, 
    дисков и аккумуляторов, индивидуальный подбор</p>
    <div class="title text-center marginbottom-20">
        <h3>Надежные аккумуляторы</h3>
        <hr>
    </div>
    <p>От ведущих мировых производителей</p>
    <div class="clearfix marginbottom-50"></div>
</div>
